In [1]:
#Using an appropriate data set from standard repositories, build the decision tree
#using ID3 algorithmic technique. Further classify a new sample 
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Aparna\ML\golf_df.csv")

In [3]:
df

     Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no

In [4]:
df.shape

(14, 5)

In [5]:
df.head(5)

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [6]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
df.iloc[:,-1]=l.fit_transform(df.iloc[:,-1])
df.iloc[:,-2]=l.fit_transform(df.iloc[:,-2])
df.iloc[:,-3]=l.fit_transform(df.iloc[:,-3])
df.iloc[:,-4]=l.fit_transform(df.iloc[:,-4])
df.iloc[:,-5]=l.fit_transform(df.iloc[:,-5])

In [7]:
df

    Outlook  Temperature  Humidity  Windy  Play
0         2            1         0      0     0
1         2            1         0      1     0
2         0            1         0      0     1
3         1            2         0      0     1
4         1            0         1      0     1
5         1            0         1      1     0
6         0            0         1      1     1
7         2            2         0      0     0
8         2            0         1      0     1
9         1            2         1      0     1
10        2            2         1      1     1
11        0            2         0      1     1
12        0            1         1      0     1
13        1            2         0      1     0

In [8]:
features=['Outlook','Temperature','Humidity','Windy']

In [9]:
X= df[features]

In [10]:
y=df['Play']

In [11]:
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: Play, dtype: int32

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [13]:
X_train

    Outlook  Temperature  Humidity  Windy
9         1            2         1      0
0         2            1         0      0
10        2            2         1      1
2         0            1         0      0
6         0            0         1      1
8         2            0         1      0
4         1            0         1      0
13        1            2         0      1
11        0            2         0      1

In [14]:
y_train

9     1
0     0
10    1
2     1
6     1
8     1
4     1
13    0
11    1
Name: Play, dtype: int32

In [15]:
X_test

    Outlook  Temperature  Humidity  Windy
5         1            0         1      1
12        0            1         1      0
3         1            2         0      0
1         2            1         0      1
7         2            2         0      0

In [16]:
y_test

5     0
12    1
3     1
1     0
7     0
Name: Play, dtype: int32

In [17]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt=dt.fit(X_train,y_train)

In [18]:
dt

DecisionTreeClassifier()

In [19]:
y_pred=dt.predict(X_test)

In [20]:
y_pred

array([1, 1, 0, 0, 0])

In [21]:
from sklearn.metrics import confusion_matrix
confusion_matrix= confusion_matrix(y_pred,y_test)

In [22]:
print(confusion_matrix)

[[2 1]
 [1 1]]

In [23]:
from sklearn.metrics import accuracy_score

In [24]:
accuracy=accuracy_score(y_pred,y_test)*100

In [25]:
print(accuracy)

60.0

In [26]:
from sklearn.metrics import classification_report

In [27]:
cr=classification_report(y_pred,y_test)
print(cr)

              precision    recall  f1-score   support

           0       0.67      0.67      0.67         3
           1       0.50      0.50      0.50         2

    accuracy                           0.60         5
   macro avg       0.58      0.58      0.58         5
weighted avg       0.60      0.60      0.60         5